doctype html
head
  style(type='text/css').
    * {
      box-sizing: border-box;
    }
    p {
      margin-bottom: 5px;
    }
    body {
      font-family: VisbyCF;
      margin: 16px;
      font-size: 8px;
    }
    .main {
      margin: 0;
    }
    .container {
      padding: 20px 40px;
    }
    .list_item {
      float: left;
      width: 100%;
      height: auto;
      border-bottom: 2px solid #eee;
    }
    .list_label {
      float: left;
      width: 27%;
      margin-top: 5px;
      font-size: 8px;
      font-weight: bold;
    }
    .list_value {
      float: left;
      width: 68%;
      margin-top: 5px;
      margin-left: 5%;
      font-size: 8px;
      font-weight: 500;
    }
    .left_list {
      float: left;
      width: 48%;
    }
    .right_list {
      float: left;
      width: 48%;
      margin-left: 4%;
    }
    .div_agree {
      float: left;
      width: 100%;
      font-size: 10px;
      margin-top: 20px;
    }
    .group_name {
      font-size: 14px;
      margin-top: 5px;
      font-weight: bold;
    }
    .div_group {
      float: left;
      width: 100%;
      border-bottom: 1px solid #eee;
    }
    .signature {
      float: left;
      width: 100%;
      font-size: 10px;
    }
    .text_align_center {
      text-align: center
    }
    .signature_image {
      float: right;
      margin-right: 0px;
      width: 300px;
      height: 100px;
    }
    .signature_item {
      float: right;
      width: 100%;
      text-align: right;
    }
.main
  .container
    .left_list
      each group in contactInfo
        .div_group
          p.group_name #{group.group_name}
        if group.questions
          each question in group.questions
            .list_item
              if question.answer == 'Checked'
                p.list_label !{question.question}
              else
                p.list_label !{question.question}:
                p.list_value #{question.answer}
      
    .right_list
      each group in personalInfo
        .div_group
          p.group_name #{group.group_name}
          if group.questions
        if group.questions
          each question in group.questions
            .list_item
              if question.answer == 'Checked'
                p.list_label !{question.question}
              else
                p.list_label !{question.question}:
                p.list_value #{question.answer}
      each group in educationInfo
        .div_group
          p.group_name #{group.group_name}
        if group.questions
          each question in group.questions
            .list_item
              if question.answer == 'Checked'
                p.list_label !{question.question}
              else
                p.list_label !{question.question}:
                p.list_value #{question.answer}
    .div_agree
      if submissionInfo[0] && submissionInfo[0].questions
        each question in submissionInfo[0].questions
          if question.answer == 'Checked'
            p.text_align_center
              | #{question.question}
          else 
            p.text_align_center
              | #{question.question}
            p.text_align_center
              | #{question.answer}
    .signature
      p.signature_item
        | #{signature_name}
      img.signature_image(src=signature_url)
      p.signature_item
        | DATE: #{signature_date}
