doctype html
html(lang='en')
  head
    style(type='text/css').
      * {
      box-sizing: border-box;
      }
      p {
      margin-bottom: 5px;
      }
      body {
      font-family: VisbyCF;
      margin: 16px;
      font-size: 12px;
      }
      .main {
      margin: 0;
      }
      .container {
      padding: 20px 40px;
      }
      .list_item {
      float: left;
      width: 100%;
      height: auto;
      border-bottom: 2px solid #eee;
      }
      .list_label {
      float: left;
      width: 27%;
      margin-top: 5px;
      font-size: 12px;
      font-weight: bold;
      }
      .list_value {
      float: left;
      width: 68%;
      margin-top: 5px;
      margin-left: 5%;
      font-size: 12px;
      font-weight: 500;
      }
  body
    .main
      .container
        div(style='float: left; width: 48%')
          div(style='border-bottom: 2px solid #eee')
            p(style='font-size: 18px; font-weight: bold') Student Info
          .list_item
            p.list_label Legal Name:
            p.list_value #{packetInfo.legal_name}
          .list_item
            p.list_label Preferred Name:
            p.list_value #{packetInfo.preferred_name}
          .list_item
            p.list_label Email:
            p.list_value #{packetInfo.email}
          .list_item
            p.list_label DOB:
            p.list_value #{packetInfo.date_of_birth}
          .list_item
            p.list_label Grade:
            p.list_value #{packetInfo.grade}
          .list_item
            p.list_label Gender:
            p.list_value #{packetInfo.gender}
          .list_item
            p.list_label Hispanic/Latino:
            p.list_value #{packetInfo.hispanic_latino}
          .list_item
            p.list_label Race:
            p.list_value #{packetInfo.race}
          .list_item
            p.list_label First language learned by child:
            p.list_value #{packetInfo.first_language_learned_by_child}
          .list_item
            p.list_label
              | Language used most often by adults in the home:
            p.list_value #{packetInfo.language_used_most_often_by_adults_in_the_home}
          .list_item
            p.list_label
              | Language used most often by child in the home:
            p.list_value #{packetInfo.language_used_most_often_by_child_in_the_home}
          .list_item
            p.list_label
              | Language used most often by child with friends outside the home:
            p.list_value #{packetInfo.language_used_most_often_by_child_with_friends_outside_the_home}
          .list_item
            p.list_label
              | Preferred correspondence language for adults in the home:
            p.list_value #{packetInfo.preferred_correspondence_language_for_adults_in_the_home}
          div(style='float: left; width: 100%; border-bottom: 2px solid #eee')
            p(style='font-size: 18px; margin-top: 5px; font-weight: bold')
              | School History
          .list_item
            p.list_label Special Ed:
            p.list_value #{packetInfo.special_ed}
          .list_item
            p.list_label School District of Residence:
            p.list_value #{packetInfo.school_district_of_residence}
          .list_item
            p.list_label Last School Attended:
            p.list_value
              | #{packetInfo.last_school_attended}
        div(style='float: left; width: 48%; margin-left: 4%')
          div(style='border-bottom: 2px solid #eee')
            p(style='font-size: 18px; font-weight: bold')
              | Parent/Guardian Info
          .list_item
            p.list_label Name:
            p.list_value #{packetInfo.parent_guardian_name}
          .list_item
            p.list_label Phone:
            p.list_value
              | #{packetInfo.parent_guardian_phone1}
              br
              | #{packetInfo.parent_guardian_phone2}
          .list_item
            p.list_label Email:
            p.list_value #{packetInfo.parent_guardian_email}
          .list_item
            p.list_label Address:
            p.list_value
              | #{packetInfo.parent_guardian_address1}
              br
              | #{packetInfo.parent_guardian_address2}
          div(style='float: left; width: 100%; border-bottom: 2px solid #eee')
            p(style='font-size: 18px; margin-top: 5px; font-weight: bold')
              | Secondary Contact
          .list_item
            p.list_label Name:
            p.list_value #{packetInfo.secondary_contact_name}
          .list_item
            p.list_label Phone:
            p.list_value #{packetInfo.secondary_contact_phone}
          .list_item
            p.list_label Email:
            p.list_value #{packetInfo.secondary_contact_email}
          div(style='float: left; width: 100%; border-bottom: 2px solid #eee')
            p(style='font-size: 18px; margin-top: 5px; font-weight: bold')
              | Household Income
          .list_item
            p.list_label Household Size:
            p.list_value #{packetInfo.household_size}
          .list_item
            p.list_label Household Income:
            p.list_value #{packetInfo.household_income}
          div(style='float: left; width: 100%; border-bottom: 2px solid #eee')
            p(style='font-size: 18px; margin-top: 5px; font-weight: bold')
              | Other
          .list_item
            p.list_label The student presently living:
            p.list_value
              | #{packetInfo.other_the_student_presently_living}
          .list_item
            p.list_label The student lives with:
            p.list_value #{packetInfo.other_the_student_lives_with}
        div(style='float: left; width: 100%; margin-top: 20px')
          p(style='text-align: center')
            | I agree to the information referenced in the Enrollment Packet
            | Policy Page, including the repayment policy for withdrawing early or
            | failing to demonstrate active participation (up to $350/course).
          p(style='text-align: center')
            | I approve for my student to be enrolled in any one of the following
            | schools 
            br
            | (Gateway Preparatory Academy, Digital Education Center - Tooele County School District, Advanced Learning Center - Nebo School District, and Southwest Education Academy - Iron County School District).
          p(style='text-align: center')
            | I give my permission for the school to share immunization
            | information with USIIS
          p(style='text-align: center')
            | I do not give permission for the school to take and post pictures of
            | my student.
          p(style='text-align: center')
            | I do not give permission for the school to post my contact
            | information in a student directory.
        div(style='float: left; width: 100%; margin-top: 100px;')
          p(style='float: right; width: 100%; text-align: right')
            | #{packetInfo.signature_name}
          img(style='float: right; margin-right: 0px; width: 300px; height: 100px', src=packetInfo.signature_url)
          p(style='float: right; width: 100%; text-align: right')
            | DATE: #{packetInfo.signature_date}